# Ignore everything
*
# Now unignore everything with an extension
!*.*
# Ignore some specific files again.
*.c
*.res
*.exe
*.out
*.actual
*.expected
# Unignore a few other specific files.
!Makefile
!futhark.pkg
